/node_modules
/public/hot
/public/storage
/public/ck
/storage/*.key
/vendor
/public/bower
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/bower
public/bower
dump.rdb
.DS_Store
