/*main slide*/
.main-slide {
  margin-top: 50px;
  padding: 100px;
  background-image: url('../../../images/background-1.png');
  background-attachment: fixed;
}
.main-slide > div {
  /*background: green;*/
}

.main-slide h2.text-center {
  color:white;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.main-slide  > div {

  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.main-slide h4{
 background: black;
}
/*tat button next prev*/
.owl-prev{
  display: none;
}
.owl-next{
  display: none;
}

.main-slide h4:hover{

}
.main-slide img {
  height:250px;
}
.main-slide div.info {
  color:white;
  background-color: rgba(32,131,104,.9);
}
