/*main slide*/
.main-slide {
  margin-top: 50px;
  padding: 100px;
  background-image: url('../../../images/background-1.png');
  background-attachment: fixed;

}
.main-slide > div {
  /*background: green;*/
}

.main-slide h2.text-center {
  color:white;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.main-slide  > div {

  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.main-slide h4{
 background: black;
}
/*tat button next prev*/
.owl-prev{
  display: none;
}
.owl-next{
  display: none;
}

.main-slide h4:hover{

}
.main-slide img {
  height:250px;
}
.main-slide div.info {
  color:white;
  background-color: rgba(32,131,104,.9);
}






/* relevant styles */
.img__wrap {
  position: relative;
  height: 100%;
  /*width: 257px;*/
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(32,131,104,.9);
   /*background: rgba(255, 255, 255, 0.35);*/
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding:15px;
  /* transition effect. not necessary */
  transition: opacity .5s, visibility .5s;
  font-size: 14px;
  margin-bottom: 0px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.img__wrap:hover .img_heading {
  visibility: hidden;
}
/*.img__wrap:hover .img__img {
  filter: blur(5px);
}*/
.img_heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(32,131,104,.9);
  visibility: visible;
  color: #fff;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 0px;

}
