.video {
   margin-bottom: 50px;
}
.video p {
  padding: 10px;
  background-color: #27ae60;
  color:white;
  text-align: left;
}
.video video {
 max-width: 800px;
 width:100%;
}
.intro h2 {
  text-align: center;
  color: red;
  padding: 20px;
}
.intro h5 {
  text-align: center;
  color: #b01a1f;
  font-size: 16px;
}
.intro h5::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 13px;
  left: 0px;
  border:1px solid #b01a1f
}
.video p a {
  color:white;
 display: inline-block;
 text-decoration: none;
 width:100%;
}
.video p:hover {
  background-color: rgba(44, 62, 80,1.0);
  transition: 0.3s;
}
