.detail-patient .panel {
    margin-top: 15px;
}
.detail-patient .panel video {
    width:100%;
    padding: 10px;
    /*border: 2px solid #3498db;*/
}

#history video {
  max-height: 550px;
}
.blink {
  color:red;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.image_new {
  height: 110px;
}
/***************************************************/
/*                  SLIDERS                        */
/***************************************************/
.slider-action {
    display: none;
    position: relative;
    top:40%;
    left:17%;
}

.slider-item:hover .slider-action{
    position: absolute;
    display: inline-block;
}
.slider-item:hover img{
    opacity: 0.7;
    border: 2px solid #3c8dbc;
}
.slider-item img{
    border: 2px solid #3c8dbc;
    height: 200px;
    width: 200px;
}

/***************************************************/
/*                  VIDEOS                         */
/***************************************************/
.video-item video{
  border: 2px solid #3c8dbc;
}

.video-item ul {
  padding-left: 50px;
}
